<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
	<title>Tim's Capstone Project</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class=page>
              <center>
              <h1>Interactive visualizations</h1>
              <br>
              <h4><a href="viz1" >Number 1</a></h4>
              <br>
              <h4><a href="viz2" >Number 2</a></h4>
              <br>
              <h4><a href="viz3" >Number 3</a></h4>
              </center>
        </div>
    </body>
</html>
