<html>
  <head>
  <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.css"
    rel="stylesheet" type="text/css">
  <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.css"
    rel="stylesheet" type="text/css">
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.4.min.js"></script>
  <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.4.min.js"></script>
    {{ script | safe }}
  </head>
  <body>
    <div class=page>
    <h1>Visualization</h1>
      {{ div | safe }}
    </div>
  </body>
</html>
